FORMAT: 1A
HOST: https://private-32e54a-attendancetrackermockdata.apiary-mock.com/

# Attendance Tracker Mock Data

Attendance Tracker Mock Data is an API with purpose of serving a mocked data for a simple Android front end.

## Service Collections [/services]

### List All Services [GET]

+ Response 200 (application/json)

        {
            "data": [
                        {
                            "name": "leave tracker",
                            "icon": "https://raw.githubusercontent.com/khrlimam/static-mock-data/master/deadline.png"
                        },
                        {
                            "name": "time tracker",
                            "icon": "https://raw.githubusercontent.com/khrlimam/static-mock-data/master/alarm-clock.png"
                        },
                        {
                            "name": "attendance",
                            "icon": "https://raw.githubusercontent.com/khrlimam/static-mock-data/master/calendar.png"
                        },
                        {
                            "name": "files",
                            "icon": "https://raw.githubusercontent.com/khrlimam/static-mock-data/master/folder.png"
                        },
                        {
                            "name": "organization",
                            "icon": "https://raw.githubusercontent.com/khrlimam/static-mock-data/master/collaboration.png"
                        },
                        {
                            "name": "announcements",
                            "icon": "https://raw.githubusercontent.com/khrlimam/static-mock-data/master/bullhorn.png"
                        },
                        {
                            "name": "presentations",
                            "icon": "https://raw.githubusercontent.com/khrlimam/static-mock-data/master/presentation-2.png"
                        },
                        {
                            "name": "flight",
                            "icon": "https://raw.githubusercontent.com/khrlimam/static-mock-data/master/airplane.png"
                        }
                    ]
        }


## Feeds Collections [/feeds]

### List Feeds [GET]

+ Response 200 (application/json)

        {
            "data": [
                {
                    "date": "2019-10-19 02:32:07",
                    "name": "Alexandra Holt",
                    "present": false,
                    "reason": "sick"
                },
                {
                    "date": "2019-10-17 06:57:31",
                    "name": "Lisa Higgins",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-07 06:22:59",
                    "name": "Sarah Thomas",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-07 20:30:03",
                    "name": "John Gregory",
                    "present": true,
                    "reason": "good"
                },
                {
                    "date": "2019-10-16 17:25:38",
                    "name": "Brandon Perez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-11 09:18:39",
                    "name": "Jennifer Simmons",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-13 17:34:34",
                    "name": "Mario Nelson",
                    "present": true,
                    "reason": "good"
                },
                {
                    "date": "2019-10-04 13:58:27",
                    "name": "Karen Smith",
                    "present": false,
                    "reason": "have urgent situation"
                },
                {
                    "date": "2019-10-11 18:26:18",
                    "name": "Jerry Scott",
                    "present": true,
                    "reason": "present"
                },
                {
                    "date": "2019-10-02 14:41:15",
                    "name": "Jennifer Mendoza",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-14 08:43:15",
                    "name": "Philip Ortega",
                    "present": true,
                    "reason": "present"
                },
                {
                    "date": "2019-10-05 14:03:50",
                    "name": "Michael Thompson",
                    "present": false,
                    "reason": "have urgent situation"
                },
                {
                    "date": "2019-10-15 12:16:27",
                    "name": "Alexander Bennett",
                    "present": false,
                    "reason": "sick"
                },
                {
                    "date": "2019-10-05 07:52:38",
                    "name": "Michael Mullins",
                    "present": true,
                    "reason": "good"
                },
                {
                    "date": "2019-10-13 20:05:13",
                    "name": "Miguel Oneill",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-15 05:48:50",
                    "name": "Christopher Taylor",
                    "present": false,
                    "reason": "sick"
                },
                {
                    "date": "2019-10-10 04:07:12",
                    "name": "Christian Foley",
                    "present": true,
                    "reason": "present"
                },
                {
                    "date": "2019-10-14 13:56:09",
                    "name": "Mrs. Sandra Ferguson",
                    "present": true,
                    "reason": "good"
                },
                {
                    "date": "2019-10-20 00:29:10",
                    "name": "Sherry Myers",
                    "present": false,
                    "reason": "have urgent situation"
                },
                {
                    "date": "2019-10-12 21:36:04",
                    "name": "Michelle Smith",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-03 00:49:27",
                    "name": "Elizabeth Anderson",
                    "present": false,
                    "reason": "sick"
                },
                {
                    "date": "2019-10-08 23:19:09",
                    "name": "Mark Foster",
                    "present": true,
                    "reason": "present"
                },
                {
                    "date": "2019-10-03 09:27:55",
                    "name": "Vincent Pearson",
                    "present": true,
                    "reason": "good"
                },
                {
                    "date": "2019-10-11 23:13:51",
                    "name": "Nicole Wade",
                    "present": false,
                    "reason": "have urgent situation"
                },
                {
                    "date": "2019-10-03 08:29:12",
                    "name": "Cynthia Bautista",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-18 22:46:28",
                    "name": "Gregory Summers",
                    "present": false,
                    "reason": "sick"
                },
                {
                    "date": "2019-10-12 13:02:55",
                    "name": "Anthony Mason",
                    "present": true,
                    "reason": "present"
                },
                {
                    "date": "2019-10-05 13:35:11",
                    "name": "Jaclyn Randall",
                    "present": true,
                    "reason": "good"
                },
                {
                    "date": "2019-10-04 08:35:05",
                    "name": "Brandon Nelson",
                    "present": false,
                    "reason": "have urgent situation"
                },
                {
                    "date": "2019-10-15 09:38:05",
                    "name": "Donald Velazquez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-07 07:54:46",
                    "name": "Cheyenne Rivera",
                    "present": false,
                    "reason": "sick"
                },
                {
                    "date": "2019-10-12 03:26:45",
                    "name": "Tiffany Carter",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-04 16:03:51",
                    "name": "Cesar Conway",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-17 16:07:18",
                    "name": "Jacob Dodson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-07 23:31:40",
                    "name": "Patrick Johnson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-01 23:42:49",
                    "name": "Michelle Dougherty",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-14 04:37:19",
                    "name": "Justin Harris",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-08 14:31:02",
                    "name": "Heather Ramsey",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-11 14:54:07",
                    "name": "Chelsea Lin",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-10 11:24:11",
                    "name": "Jennifer Brown",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 20:21:34",
                    "name": "Erin Butler",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-07 12:10:17",
                    "name": "Joshua Saunders",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-18 23:38:34",
                    "name": "Jared Barrett",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-17 05:01:20",
                    "name": "Billy Velazquez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 14:26:14",
                    "name": "Julia Vance",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 01:48:42",
                    "name": "Jessica Foster",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 04:52:27",
                    "name": "Sarah Vazquez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-18 20:03:36",
                    "name": "Daniel Thompson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-02 19:19:06",
                    "name": "Michael Smith",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-09 01:37:23",
                    "name": "Christopher Banks",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-08 10:17:32",
                    "name": "Virginia Simmons",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 11:30:06",
                    "name": "Jon Ramos",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 12:20:30",
                    "name": "John Rios",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-05 21:53:15",
                    "name": "Justin Moreno",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-11 19:16:12",
                    "name": "William Lawrence",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-08 23:24:54",
                    "name": "Lauren Clarke",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-18 07:12:00",
                    "name": "Joseph Campbell",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-03 19:37:20",
                    "name": "Hannah Blair DVM",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-02 14:27:44",
                    "name": "Carla Hutchinson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-18 16:23:21",
                    "name": "Spencer Jones",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-08 13:22:02",
                    "name": "Dr. Christopher Robertson II",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-06 12:03:00",
                    "name": "Robert Palmer",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 14:11:56",
                    "name": "Brian Knight",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-14 19:10:53",
                    "name": "Christine Johnson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-02 17:27:34",
                    "name": "Alexander Blankenship",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-15 04:54:40",
                    "name": "Kylie Herrera",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-06 21:42:40",
                    "name": "Danny Mason",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-07 01:47:36",
                    "name": "Stephen Lamb",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-17 01:49:43",
                    "name": "Zachary Cameron",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 05:44:54",
                    "name": "Samantha White",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-14 21:34:22",
                    "name": "Cameron Davis",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-11 23:00:17",
                    "name": "Carolyn Smith",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-09 20:04:02",
                    "name": "David Jones",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-15 16:13:27",
                    "name": "Amanda Washington MD",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-15 20:07:20",
                    "name": "Cindy Conner",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-17 22:52:34",
                    "name": "Diane Rodriguez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 07:57:15",
                    "name": "Jason Phelps",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-02 05:45:34",
                    "name": "Alyssa Horton",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-02 21:50:02",
                    "name": "Sara Elliott",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-12 04:09:34",
                    "name": "Lisa Oconnor",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-06 11:47:35",
                    "name": "Richard Hernandez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-19 14:49:58",
                    "name": "Dale Jones",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-09 03:17:33",
                    "name": "Adam Smith",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-13 05:44:00",
                    "name": "James Carter",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-15 11:14:01",
                    "name": "Erin Horne",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-01 15:31:53",
                    "name": "Jessica Conrad",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-17 06:28:00",
                    "name": "Mason Edwards",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-04 12:40:18",
                    "name": "Julia Moore",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-05 14:17:33",
                    "name": "Teresa Johnston",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 14:53:21",
                    "name": "Joshua Blair",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-04 22:23:19",
                    "name": "Brianna Williams",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-10 12:13:01",
                    "name": "Bridget Murphy",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-08 00:43:49",
                    "name": "Lori Sanchez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-17 15:42:30",
                    "name": "Jim Smith",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-12 06:30:01",
                    "name": "Jennifer Reed",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-09 02:38:41",
                    "name": "Tammy Miller",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-01 10:46:03",
                    "name": "Melissa Ortiz",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-20 02:09:36",
                    "name": "Kimberly Chung",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-15 05:45:47",
                    "name": "Gary Flynn",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-19 15:57:06",
                    "name": "Timothy Buchanan",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-08 08:45:15",
                    "name": "Tyler Grimes",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-02 20:14:09",
                    "name": "Ian Sanchez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 22:57:06",
                    "name": "Brian Hernandez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-15 08:42:36",
                    "name": "Desiree Snyder",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-11 06:50:22",
                    "name": "Tristan Chapman",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 17:03:19",
                    "name": "Robert Mcpherson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-12 13:27:44",
                    "name": "Jeffrey Moon",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-03 17:28:56",
                    "name": "Nancy Harper",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 04:46:00",
                    "name": "Wendy Thompson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-08 12:07:35",
                    "name": "Jacob Kelley",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-11 20:38:58",
                    "name": "Meagan Roth",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-13 13:57:01",
                    "name": "Kathryn Harris",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-09 18:14:59",
                    "name": "Kara Willis",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-10 10:41:04",
                    "name": "Grace Fernandez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-10 15:52:56",
                    "name": "Nicole Solis",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-03 07:10:09",
                    "name": "Jackson Anderson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-14 15:52:00",
                    "name": "Garrett Shannon",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-14 00:13:56",
                    "name": "Evan Deleon",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-12 18:49:45",
                    "name": "Patrick Carter",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-10 07:16:35",
                    "name": "Nathan Marshall",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-11 10:25:10",
                    "name": "Amber Martinez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-03 22:54:42",
                    "name": "Meagan Evans",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-12 14:00:02",
                    "name": "Vincent Ortiz",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-18 02:04:57",
                    "name": "Lauren Castaneda",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-13 19:17:53",
                    "name": "Adam Nunez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-11 09:45:44",
                    "name": "Eric Logan",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-01 00:37:50",
                    "name": "Elizabeth Smith",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-04 02:42:41",
                    "name": "Ryan Vasquez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-05 18:56:03",
                    "name": "Carolyn Rowe",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-05 22:38:50",
                    "name": "Robert Smith",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-01 05:59:04",
                    "name": "Daniel Green",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-06 00:39:06",
                    "name": "Abigail Brown",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-12 15:46:22",
                    "name": "Ashley Stephens",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-18 07:17:28",
                    "name": "Alexis Williams",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-05 20:01:39",
                    "name": "Heidi Rogers",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-18 05:33:00",
                    "name": "Kaitlyn Ruiz",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-04 13:48:14",
                    "name": "Ryan Beck",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 13:31:12",
                    "name": "Cameron Bass",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-05 15:06:55",
                    "name": "Rebecca Miller",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-07 14:22:35",
                    "name": "Maria Carrillo",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-19 13:28:34",
                    "name": "Rachel Watson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-15 08:29:04",
                    "name": "Daniel Garrett",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-09 06:27:02",
                    "name": "Christopher Santos",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-01 14:11:06",
                    "name": "Jessica Chan",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-04 06:47:34",
                    "name": "Derek Gonzales",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-04 00:25:36",
                    "name": "James Evans",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-06 20:24:22",
                    "name": "Tyler Jensen",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-19 04:19:24",
                    "name": "Daniel Sutton",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-13 19:17:08",
                    "name": "Terry Mccarty",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 11:51:33",
                    "name": "Johnny Trujillo",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-13 14:35:46",
                    "name": "Nicole King",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-06 08:42:49",
                    "name": "Danny Cain",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-03 20:50:09",
                    "name": "Julie Espinoza",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-13 15:39:20",
                    "name": "Kimberly Acosta",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-19 04:49:06",
                    "name": "Leonard Mitchell",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-11 21:37:19",
                    "name": "Michele Dixon",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-01 02:31:07",
                    "name": "Carolyn Williams",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-19 21:40:44",
                    "name": "James Valenzuela",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-14 08:06:10",
                    "name": "Judith Howell",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-17 09:38:44",
                    "name": "Robin Greene",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-01 15:23:11",
                    "name": "Joanna Rios DVM",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-03 00:55:07",
                    "name": "Laura Garrison",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-03 13:20:24",
                    "name": "Bradley Stewart",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-01 05:21:14",
                    "name": "William Gould",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-06 08:53:11",
                    "name": "Mr. Malik Reyes",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-08 02:26:26",
                    "name": "Julie Ortega",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-06 21:12:57",
                    "name": "Eric Nelson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 20:21:09",
                    "name": "Elizabeth Zamora",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-03 06:55:55",
                    "name": "Brandon Vargas",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-14 16:34:59",
                    "name": "Brent Zamora",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-14 05:52:48",
                    "name": "Lisa Powell",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-04 17:18:53",
                    "name": "Christina Tucker",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-13 13:44:27",
                    "name": "Donna Johnson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-11 14:00:44",
                    "name": "Eric Brown",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-02 06:04:31",
                    "name": "Crystal Hays",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-02 00:59:44",
                    "name": "Tanya Hancock",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-10 18:31:49",
                    "name": "Julie Dickerson DVM",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-07 00:21:02",
                    "name": "Jill Johnson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-03 23:26:45",
                    "name": "Bailey Lopez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-17 04:04:33",
                    "name": "Sandra Medina",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-02 13:04:26",
                    "name": "Eddie Jones",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-11 21:49:53",
                    "name": "Victoria Jones",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-01 05:36:21",
                    "name": "Thomas Chapman",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-11 10:33:55",
                    "name": "Amanda Callahan",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-02 00:42:23",
                    "name": "William Harrison",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-11 12:08:41",
                    "name": "Mr. Keith Clements",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-02 05:22:50",
                    "name": "Roberto Thompson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-08 11:35:54",
                    "name": "Karl Burns",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-06 22:17:18",
                    "name": "Sarah Martinez",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-13 13:05:10",
                    "name": "Kristen Vargas",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-03 07:18:21",
                    "name": "Pamela Wise",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-13 10:13:48",
                    "name": "Melissa Wilson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-05 02:01:19",
                    "name": "Allen Keller",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-15 19:15:25",
                    "name": "Susan Henderson",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-01 13:43:30",
                    "name": "Andrew Guzman",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-07 02:05:27",
                    "name": "Christina Rivera",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-16 17:06:43",
                    "name": "Rebecca Wu DDS",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-04 05:20:36",
                    "name": "Dennis Jones",
                    "present": false,
                    "reason": "not feeling well"
                },
                {
                    "date": "2019-10-17 00:46:12",
                    "name": "John Klein",
                    "present": false,
                    "reason": "not feeling well"
                }
            ]
        }


## User Approval Collections [/user/{username}/approval{?status}]

### Show User Approval With Given Parameters
+ Parameters
    + username (string, required, `khairulimam`) - Username which approval to see by ?status
    + status (string, optional, `pending`) - Specify which approval status to see [pending, approved, rejected]. The default is pending
        

## User Approval Collections [/user/khairulimam/approval?status=pending]

### Show User Approval With Status Pending [GET]

+ Response 200 (application/json)

        {
            "data": []
        }
        
        
## User Approval Collections [/user/khairulimam/approval?status=approved]
        
### Show User Approval With Status Approved [GET]

+ Response 200 (application/json)
        
        
        {
            "data": [
                        {
                            "date": "2019-10-02 05:10:10",
                            "present": false,
                            "reason": "sick"
                        },
                        {
                            "date": "2019-10-03 05:10:10",
                            "present": false,
                            "reason": "not feeling well"
                        },
                        {
                            "date": "2019-10-04 05:10:10",
                            "present": false,
                            "reason": "not feeling well"
                        },
                        {
                            "date": "2019-10-05 05:10:10",
                            "present": true,
                            "reason": "good"
                        },
                        {
                            "date": "2019-10-06 05:10:10",
                            "present": false,
                            "reason": "not feeling well"
                        },
                        {
                            "date": "2019-10-07 05:10:10",
                            "present": false,
                            "reason": "not feeling well"
                        },
                        {
                            "date": "2019-10-08 05:10:10",
                            "present": true,
                            "reason": "good"
                        },
                        {
                            "date": "2019-10-09 05:10:10",
                            "present": false,
                            "reason": "have urgent situation"
                        },
                        {
                            "date": "2019-10-10 05:10:10",
                            "present": true,
                            "reason": "present"
                        },
                        {
                            "date": "2019-10-11 05:10:10",
                            "present": false,
                            "reason": "not feeling well"
                        },
                        {
                            "date": "2019-10-12 05:10:10",
                            "present": true,
                            "reason": "present"
                        },
                        {
                            "date": "2019-10-13 05:10:10",
                            "present": false,
                            "reason": "have urgent situation"
                        },
                        {
                            "date": "2019-10-14 05:10:10",
                            "present": false,
                            "reason": "sick"
                        },
                        {
                            "date": "2019-10-15 05:10:10",
                            "present": true,
                            "reason": "good"
                        },
                        {
                            "date": "2019-10-16 05:10:10",
                            "present": false,
                            "reason": "not feeling well"
                        },
                        {
                            "date": "2019-10-17 05:10:10",
                            "present": false,
                            "reason": "sick"
                        },
                        {
                            "date": "2019-10-18 05:10:10",
                            "present": true,
                            "reason": "present"
                        },
                        {
                            "date": "2019-10-19 05:10:10",
                            "present": true,
                            "reason": "good"
                        },
                        {
                            "date": "2019-10-20 05:10:10",
                            "present": false,
                            "reason": "have urgent situation"
                        },
                        {
                            "date": "2019-10-21 05:10:10",
                            "present": false,
                            "reason": "not feeling well"
                        },
                        {
                            "date": "2019-10-22 05:10:10",
                            "present": false,
                            "reason": "sick"
                        },
                        {
                            "date": "2019-10-23 05:10:10",
                            "present": true,
                            "reason": "present"
                        },
                        {
                            "date": "2019-10-24 05:10:10",
                            "present": true,
                            "reason": "good"
                        },
                        {
                            "date": "2019-10-25 05:10:10",
                            "present": false,
                            "reason": "have urgent situation"
                        },
                        {
                            "date": "2019-10-26 05:10:10",
                            "present": false,
                            "reason": "not feeling well"
                        },
                        {
                            "date": "2019-10-27 05:10:10",
                            "present": false,
                            "reason": "sick"
                        },
                        {
                            "date": "2019-10-28 05:10:10",
                            "present": true,
                            "reason": "present"
                        },
                        {
                            "date": "2019-10-29 05:10:10",
                            "present": true,
                            "reason": "good"
                        },
                        {
                            "date": "2019-10-30 05:10:10",
                            "present": false,
                            "reason": "have urgent situation"
                        },
                        {
                            "date": "2019-10-31 05:10:10",
                            "present": false,
                            "reason": "not feeling well"
                        }
                    ]
        }
    

## User Approval Collections [/user/khairulimam/approval?status=rejected]

### Show User Approval With Status Rejected [GET]

+ Response 200 (application/json)

        {
            "data": []
        }
        
## Leave Tracker Collections [/leave-trackers]

### Show leave trackers checkin point [GET]

+ Response 200 (application/json)
        
        {
            "data": [
                {
                    "ad_id": "4dfb93e0-de7d-4c47-a8a3-bd31c83f9890",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 50.01037923,
                    "long": 36.24092126,
                    "gps_hr_accuracy": 37.51877334,
                    "ip_add": "82.117.253.156",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "8253289334f42f3900abec713a0204ca",
                    "present": false,
                    "reason": "Suggest oil never work turn. Case international theory.\nSince traditional worry term again someone collection. Bed fine area. Many thing spring argue middle reality."
                },
                {
                    "ad_id": "7f23b8e5-0bd0-49ef-879a-ac351c18f014",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.378009224,
                    "long": 103.7624632,
                    "gps_hr_accuracy": 121.9136557,
                    "ip_add": "111.65.56.247",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "08cf4c7e6e5f63fa221f5a898be9c4a8",
                    "present": false,
                    "reason": "Any term character expect. Political woman speak foreign treatment way yes degree.\nHusband write manage whether support town participant. Why success arm one. Baby walk break name."
                },
                {
                    "ad_id": "0ecb4212-10f6-4226-85f6-756b434d86c9",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.547569081,
                    "long": 103.7066038,
                    "gps_hr_accuracy": 119.9433303,
                    "ip_add": "183.90.37.160",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "ff23f577fcc58be27651a864eaa139cf",
                    "present": false,
                    "reason": "Company key cut. Everything discover save character. Around option news try ahead certainly."
                },
                {
                    "ad_id": "e04d6517-bbb5-419a-b321-f7fd0276d9af",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.331721973,
                    "long": 103.8718086,
                    "gps_hr_accuracy": 143.5523467,
                    "ip_add": "58.96.207.27",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "08cf4c7e6e5f63fa221f5a898be9c4a8",
                    "present": false,
                    "reason": "Safe new left now already anyone. Go thus spring into account simply.\nKid should eat whole. Box it note simply. Population get physical."
                },
                {
                    "ad_id": "54e6c28f-e457-4304-829e-b26af3223ef1",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.400642924,
                    "long": 103.8211648,
                    "gps_hr_accuracy": 100.3143746,
                    "ip_add": "111.65.59.145",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "6fc465e585bbf05594b8be0b5240297b",
                    "present": false,
                    "reason": "My cause while main strategy senior director. Attention item guy forget. Natural add company tax state.\nDecide well human run sister rock benefit main. I smile miss. Admit meet alone."
                },
                {
                    "ad_id": "54e6c28f-e457-4304-829e-b26af3223ef1",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.40076868,
                    "long": 103.8180634,
                    "gps_hr_accuracy": 100.5683906,
                    "ip_add": "111.65.59.145",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "6fc465e585bbf05594b8be0b5240297b",
                    "present": false,
                    "reason": "Watch wonder politics believe prevent system within door. Song than over sing give.\nListen next travel nothing idea onto. Maybe protect voice enough beat west."
                },
                {
                    "ad_id": "58bc7723-32c1-44c0-b02d-0440bdc200ab",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.31655831,
                    "long": 103.7715364,
                    "gps_hr_accuracy": 65.0,
                    "ip_add": "111.65.59.40",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "efb9d5a478fbfb2f89065f9486b32a19",
                    "present": true,
                    "reason": "Through well great apply future size radio. Top game material strong.\nAway share agree happen approach. Allow look sign soon nation participant Republican."
                },
                {
                    "ad_id": "4dfb93e0-de7d-4c47-a8a3-bd31c83f9890",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 50.01037659,
                    "long": 36.24092237,
                    "gps_hr_accuracy": 36.99027778,
                    "ip_add": "82.117.253.156",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "8253289334f42f3900abec713a0204ca",
                    "present": false,
                    "reason": "Item week agree dark meeting thus. Environment other increase maybe.\nCapital student draw long. Speak our kind simple."
                },
                {
                    "ad_id": "a6ea765d-953c-4d6b-89cd-fcd7bb5dcc38",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.40945113,
                    "long": 103.9068419,
                    "gps_hr_accuracy": 154.4557317,
                    "ip_add": "111.65.59.108",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "37f86a01913bc3f63195eebe95c7aa11",
                    "present": true,
                    "reason": "Individual threat week until represent individual.\nMachine talk beat whose pattern more single. Rule especially somebody present item marriage. Spend area south energy Congress loss one although."
                },
                {
                    "ad_id": "7d2187dd-d792-420b-afb6-8309533f8d7e",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.314513022,
                    "long": 103.9887674,
                    "gps_hr_accuracy": 126.2897234,
                    "ip_add": "183.90.37.41",
                    "country": "SG",
                    "device_os_language_code": "zh",
                    "app_id": "6fc465e585bbf05594b8be0b5240297b",
                    "present": true,
                    "reason": "Public car fight citizen color enough.\nFirm clearly able right college heavy state heart. Debate mention worker past. Manager artist keep ask begin. Ago trial loss door significant."
                },
                {
                    "ad_id": "e04d6517-bbb5-419a-b321-f7fd0276d9af",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.331721973,
                    "long": 103.8718086,
                    "gps_hr_accuracy": 143.5523467,
                    "ip_add": "58.96.207.27",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "08cf4c7e6e5f63fa221f5a898be9c4a8",
                    "present": true,
                    "reason": "Range apply respond former maybe memory. Teach indeed people fall human red yes."
                },
                {
                    "ad_id": "e04d6517-bbb5-419a-b321-f7fd0276d9af",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.331721973,
                    "long": 103.8718086,
                    "gps_hr_accuracy": 143.5523467,
                    "ip_add": "58.96.207.27",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "08cf4c7e6e5f63fa221f5a898be9c4a8",
                    "present": true,
                    "reason": "Him step man onto. Kind general account discuss cold.\nAlong thing which. Successful bad him still."
                },
                {
                    "ad_id": "4dfb93e0-de7d-4c47-a8a3-bd31c83f9890",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 50.01037659,
                    "long": 36.24092237,
                    "gps_hr_accuracy": 36.99027778,
                    "ip_add": "82.117.253.156",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "8253289334f42f3900abec713a0204ca",
                    "present": false,
                    "reason": "Money performance fill raise half. Notice perhaps available yet reduce maybe teach. Himself life performance television piece practice worker.\nDraw easy cut chair. Drive media food country."
                },
                {
                    "ad_id": "cadd3db0-6a8b-4831-b26f-8eef86274f47",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533720000000.0,
                    "lat": 1.418032847,
                    "long": 103.8475624,
                    "gps_hr_accuracy": 65.0,
                    "ip_add": "182.19.159.5",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "92feaa048423d319b55263c6243234bc",
                    "present": false,
                    "reason": "Truth his assume say. Rule owner range. Court type than whose business.\nEver sister about majority. Win step reflect everything west rich. Change south onto as address product."
                },
                {
                    "ad_id": "ebf27005-5617-456a-bd66-17aef8768be9",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.370526048,
                    "long": 103.9603162,
                    "gps_hr_accuracy": 106.6524872,
                    "ip_add": "111.65.33.143",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "9ba339f33b52d6787517de692e8e0f49",
                    "present": false,
                    "reason": "Analysis cell expect consider technology speak mind. Himself growth year meeting. Worker summer room let only social attack body.\nRealize material enter play offer. Difference ball they glass."
                },
                {
                    "ad_id": "0ecb4212-10f6-4226-85f6-756b434d86c9",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.547569081,
                    "long": 103.7066038,
                    "gps_hr_accuracy": 119.9433303,
                    "ip_add": "183.90.37.160",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "ff23f577fcc58be27651a864eaa139cf",
                    "present": true,
                    "reason": "Have player clearly smile. Feeling various from travel current establish.\nPage piece American prepare young. Bit staff rather expert grow. Ok happen a both role bar or."
                },
                {
                    "ad_id": "724342c9-c651-4895-829a-423ac9158bf6",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.367013593,
                    "long": 103.8485744,
                    "gps_hr_accuracy": 62.23509732,
                    "ip_add": "118.200.67.26",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "6fc465e585bbf05594b8be0b5240297b",
                    "present": true,
                    "reason": "Matter seven clear scene. Receive half key wide where role mission. Those place write try test."
                },
                {
                    "ad_id": "da97c138-7055-4b5c-86da-aefb162e8bf3",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.355696808,
                    "long": 103.9869314,
                    "gps_hr_accuracy": 24.0,
                    "ip_add": "183.90.37.124",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "f563f02d1efcce9648555d7324477d0c",
                    "present": false,
                    "reason": "Animal become black left. People through office trouble see computer. Wonder discuss others several training.\nTo blood my."
                },
                {
                    "ad_id": "a96c4392-0340-4561-a561-a9c16e2d1434",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 3.2153061,
                    "long": 101.7406006,
                    "gps_hr_accuracy": 8.0,
                    "ip_add": "183.171.185.81",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "2a8bbbe37fe08f38f9a401aed73d5946",
                    "present": true,
                    "reason": "Be test least project. Card cover physical next film how. Care building success hear little detail.\nOther through mind explain evening hard why. Site central study information.\nTest of give during."
                },
                {
                    "ad_id": "4dfb93e0-de7d-4c47-a8a3-bd31c83f9890",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 50.01037907,
                    "long": 36.24092724,
                    "gps_hr_accuracy": 35.66448223,
                    "ip_add": "82.117.253.156",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "8253289334f42f3900abec713a0204ca",
                    "present": true,
                    "reason": "Bed control society music world foot. Every society later read help cost for.\nSet sister strategy especially word. Information candidate see coach fine such. Room whatever gun character."
                },
                {
                    "ad_id": "54e6c28f-e457-4304-829e-b26af3223ef1",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.40076868,
                    "long": 103.8180634,
                    "gps_hr_accuracy": 100.5683906,
                    "ip_add": "111.65.59.145",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "6fc465e585bbf05594b8be0b5240297b",
                    "present": true,
                    "reason": "Picture section break middle various. A piece machine exist remain much. Amount subject possible western spring onto surface appear."
                },
                {
                    "ad_id": "420bd93d-a1de-4af4-ab66-196bdcf66728",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.401003163,
                    "long": 103.8698408,
                    "gps_hr_accuracy": 165.0,
                    "ip_add": "183.90.37.178",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "00dd685f63ee350dbafeed6fcc33a315",
                    "present": false,
                    "reason": "Space turn despite order land act. By price natural always.\nThreat challenge coach out turn Mr card. Poor top born agreement. Carry ask on fall political."
                },
                {
                    "ad_id": "b69887fb-b78f-4dfb-9953-c353df729900",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.355823077,
                    "long": 103.9857605,
                    "gps_hr_accuracy": 65.0,
                    "ip_add": "27.104.44.206",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "6e816909003d88bae3fa9e95bc5c4081",
                    "present": true,
                    "reason": "Daughter program discover trial should stage learn base. Stage who begin.\nLow man off. Feel catch suggest recognize major."
                },
                {
                    "ad_id": "c54da86e-e516-4835-a8f6-80f0bea0d21a",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.550389118,
                    "long": 103.7491385,
                    "gps_hr_accuracy": 17.7574108,
                    "ip_add": "115.164.50.177",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "9ba339f33b52d6787517de692e8e0f49",
                    "present": true,
                    "reason": "Raise discuss foreign realize senior. Yes receive morning. Quite hope enough send.\nKnow catch author like. Onto indicate raise."
                },
                {
                    "ad_id": "a6ea765d-953c-4d6b-89cd-fcd7bb5dcc38",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.40945113,
                    "long": 103.9068419,
                    "gps_hr_accuracy": 154.4557317,
                    "ip_add": "111.65.59.108",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "37f86a01913bc3f63195eebe95c7aa11",
                    "present": true,
                    "reason": "Reality fact join body similar. Drop within positive to week likely understand majority. Rate finally focus stop learn. Enter doctor space modern."
                },
                {
                    "ad_id": "113232ff-15e7-4287-a460-58b82c8da0ef",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.35529741,
                    "long": 103.9898827,
                    "gps_hr_accuracy": 65.0,
                    "ip_add": "183.90.37.157",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "6fc465e585bbf05594b8be0b5240297b",
                    "present": true,
                    "reason": "Professional develop these make himself production performance. Response concern administration be these something man. Clearly southern might truth truth race.\nMovement house alone she."
                },
                {
                    "ad_id": "113232ff-15e7-4287-a460-58b82c8da0ef",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.35529741,
                    "long": 103.9898827,
                    "gps_hr_accuracy": 65.0,
                    "ip_add": "183.90.37.157",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "6fc465e585bbf05594b8be0b5240297b",
                    "present": false,
                    "reason": "Those huge same success floor wind. Space adult response language she maybe. Head modern second which five behind.\nMe collection if civil purpose. Book point significant military respond gas."
                },
                {
                    "ad_id": "e04d6517-bbb5-419a-b321-f7fd0276d9af",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.331742486,
                    "long": 103.8717875,
                    "gps_hr_accuracy": 55.07116888,
                    "ip_add": "58.96.207.27",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "08cf4c7e6e5f63fa221f5a898be9c4a8",
                    "present": false,
                    "reason": "Cold site person act. Threat defense society tax oil focus. Feeling around hard contain. Card attack partner democratic agency."
                },
                {
                    "ad_id": "e8b847a4-ff34-4c93-8c97-f086cb3d8102",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.379523227,
                    "long": 103.5954504,
                    "gps_hr_accuracy": 16.0,
                    "ip_add": "113.210.202.48",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "61600a2f7c29c8a922b4bd11d4d9c96c",
                    "present": false,
                    "reason": "Wind describe activity east laugh make. Business support success situation after nearly walk.\nPressure message small. Production huge fear cause manage front."
                },
                {
                    "ad_id": "a2f93d9d-4057-43e7-a009-049a8f3fbbb6",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.404643597,
                    "long": 103.9091136,
                    "gps_hr_accuracy": 59.19865846,
                    "ip_add": "103.208.178.76",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "8253289334f42f3900abec713a0204ca",
                    "present": false,
                    "reason": "Good exist field. Find physical certain spend case if offer tax. Sense paper give gas ever.\nKitchen law teach house where. Another child political free. However church center enjoy."
                },
                {
                    "ad_id": "cc8f61d9-ec34-4af9-af37-7df931b7a85c",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 5.127992554,
                    "long": 100.4914353,
                    "gps_hr_accuracy": 84.90203944,
                    "ip_add": "115.164.169.65",
                    "country": "SG",
                    "device_os_language_code": "zh",
                    "app_id": "9ba339f33b52d6787517de692e8e0f49",
                    "present": true,
                    "reason": "Responsibility possible final great majority reach. Director lose account condition effect gun early.\nOrganization purpose call score wall across network. Skin center often start exactly country."
                },
                {
                    "ad_id": "d3d7684b-fdbd-4c91-aece-2fdd7e4c5a0f",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.391990367,
                    "long": 103.9886765,
                    "gps_hr_accuracy": 2000.0,
                    "ip_add": "203.125.231.38",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "d2423e2a2df07ff97e7b65c337b259f9",
                    "present": false,
                    "reason": "Plant everyone consider seven prepare. Probably list according then.\nState five its move guy member single."
                },
                {
                    "ad_id": "e04d6517-bbb5-419a-b321-f7fd0276d9af",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.331742486,
                    "long": 103.8717875,
                    "gps_hr_accuracy": 55.07116888,
                    "ip_add": "58.96.207.27",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "08cf4c7e6e5f63fa221f5a898be9c4a8",
                    "present": true,
                    "reason": "Week best likely big trade. Analysis cause admit both miss. Family sign fly past."
                },
                {
                    "ad_id": "670c2287-071e-43b1-87d0-846fb016c98d",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 12.92144269,
                    "long": 100.9296468,
                    "gps_hr_accuracy": 5.0,
                    "ip_add": "182.232.105.30",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "92feaa048423d319b55263c6243234bc",
                    "present": true,
                    "reason": "Hit check interesting recognize wife. Your wide daughter explain scientist. Wind institution give book."
                },
                {
                    "ad_id": "670c2287-071e-43b1-87d0-846fb016c98d",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 12.92190599,
                    "long": 100.9298608,
                    "gps_hr_accuracy": 5.0,
                    "ip_add": "182.232.105.30",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "92feaa048423d319b55263c6243234bc",
                    "present": true,
                    "reason": "Security power arrive majority knowledge deep. Environment husband choose necessary pull."
                },
                {
                    "ad_id": "670c2287-071e-43b1-87d0-846fb016c98d",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 12.92236581,
                    "long": 100.9300765,
                    "gps_hr_accuracy": 5.0,
                    "ip_add": "182.232.105.30",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "92feaa048423d319b55263c6243234bc",
                    "present": true,
                    "reason": "Pass water up every reach edge. Understand plan force sea chair huge. Amount catch industry image send page necessary trial."
                },
                {
                    "ad_id": "670c2287-071e-43b1-87d0-846fb016c98d",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 12.92285867,
                    "long": 100.9303024,
                    "gps_hr_accuracy": 8.913574549,
                    "ip_add": "182.232.105.30",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "92feaa048423d319b55263c6243234bc",
                    "present": false,
                    "reason": "Play opportunity federal there whatever. Young leave well pass cell. Lead late book side part off half."
                },
                {
                    "ad_id": "670c2287-071e-43b1-87d0-846fb016c98d",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 12.92335896,
                    "long": 100.9305238,
                    "gps_hr_accuracy": 8.898825023,
                    "ip_add": "182.232.105.30",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "92feaa048423d319b55263c6243234bc",
                    "present": true,
                    "reason": "Thank station exactly process name anything than.\nYes perform most dream affect. Value simple change college while behavior."
                },
                {
                    "ad_id": "60f4d2fc-61cd-46b6-9f60-3c7d5537b1cd",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 14.00922859,
                    "long": 99.24463736,
                    "gps_hr_accuracy": 1414.000003,
                    "ip_add": "182.232.75.196",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "f353a782fa85016c95f057e0b4beb0e4",
                    "present": true,
                    "reason": "Every once next. Treatment force require reflect everything happy.\nOr question partner win decade each religious song. Our authority against continue trial house through range."
                },
                {
                    "ad_id": "c121a69e-e040-4d8c-8b82-2dd40ca7c656",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.536572589,
                    "long": 103.7954023,
                    "gps_hr_accuracy": 5.0,
                    "ip_add": "113.210.197.251",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "4f903a8468c3a9c2eff05da9b7c1d8bf",
                    "present": false,
                    "reason": "Rate usually professor any instead stand season. We recently generation piece police.\nNote economy member. Anything affect make car have condition less. Development dark should true cup store."
                },
                {
                    "ad_id": "38af3e68-6697-4f42-bf71-8781dc45ae28",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.398398911,
                    "long": 103.9047521,
                    "gps_hr_accuracy": 93.33223483,
                    "ip_add": "42.60.22.19",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "c9d2053ed1fb19e92d481c5ca2c9e20d",
                    "present": true,
                    "reason": "Mother success grow scientist. Almost task reach crime field base. Foreign list middle indeed business state consider."
                },
                {
                    "ad_id": "fe253454-d975-4db1-8e9d-0898883c76c1",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.379575438,
                    "long": 103.9413684,
                    "gps_hr_accuracy": 105.9488719,
                    "ip_add": "119.56.99.164",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "9ba339f33b52d6787517de692e8e0f49",
                    "present": true,
                    "reason": "Nation attention option hospital hit view feel. Number beyond prevent. Common sound interview throughout anything.\nToo fly though play test child. Laugh book memory help."
                },
                {
                    "ad_id": "e04d6517-bbb5-419a-b321-f7fd0276d9af",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.331721973,
                    "long": 103.8718086,
                    "gps_hr_accuracy": 143.5523467,
                    "ip_add": "58.96.207.27",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "08cf4c7e6e5f63fa221f5a898be9c4a8",
                    "present": false,
                    "reason": "Wife I term beautiful artist goal choice. Son cup economy personal. Over group card arrive measure laugh.\nThemselves service program into. Throw movie that check."
                },
                {
                    "ad_id": "02d5373d-3041-4634-a2b2-f62a2e02f9fb",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 35.66655092,
                    "long": 139.7679302,
                    "gps_hr_accuracy": 148.2048948,
                    "ip_add": "113.43.50.129",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "08787d84899883217cb964e2f2ba6bcd",
                    "present": false,
                    "reason": "Wide story difficult whose last always by. Beautiful stuff game. Program capital page treat resource small relationship rest. Sell but sense service everything mother brother."
                },
                {
                    "ad_id": "3a15c9ef-9b66-4f29-b4b6-b6ad56f6a5ff",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 31.96097526,
                    "long": 118.7816494,
                    "gps_hr_accuracy": 10.0,
                    "ip_add": "117.136.45.101",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "393e3e27a7dcaab8b801612776b75f1d",
                    "present": false,
                    "reason": "Number ok only yet couple interview federal training. Life it throw. Across be economy grow report leader.\nCollege leader light. Politics already most assume only."
                },
                {
                    "ad_id": "4dfb93e0-de7d-4c47-a8a3-bd31c83f9890",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 50.01038189,
                    "long": 36.24093066,
                    "gps_hr_accuracy": 34.9397889,
                    "ip_add": "82.117.253.156",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "8253289334f42f3900abec713a0204ca",
                    "present": false,
                    "reason": "Among region I country reason environmental. Best agent hour major available protect reality ball. Production number popular side.\nNear west expect network. Growth machine short marriage none deal."
                },
                {
                    "ad_id": "c0b18784-454f-42ae-960f-b42d6b3a5960",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 35.66528937,
                    "long": 139.7845257,
                    "gps_hr_accuracy": 144.1753451,
                    "ip_add": "111.65.59.155",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "9ba339f33b52d6787517de692e8e0f49",
                    "present": false,
                    "reason": "Assume argue type boy realize himself leave everybody. Race little drop than hand. Dream deep answer fear oil power new.\nSeven boy mother create. This politics choice choose. After ago low couple."
                },
                {
                    "ad_id": "c0b18784-454f-42ae-960f-b42d6b3a5960",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 35.66528937,
                    "long": 139.7845257,
                    "gps_hr_accuracy": 144.1753451,
                    "ip_add": "111.65.59.155",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "9ba339f33b52d6787517de692e8e0f49",
                    "present": true,
                    "reason": "Control support hard. Table war leader attorney fact.\nLawyer off chair meet perhaps particular. Walk three father knowledge well late common."
                },
                {
                    "ad_id": "42181360-a623-4049-b17d-b5be0386fb39",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.310214155,
                    "long": 103.8292844,
                    "gps_hr_accuracy": 65.0,
                    "ip_add": "202.156.146.207",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "92feaa048423d319b55263c6243234bc",
                    "present": true,
                    "reason": "You grow operation especially measure senior. Collection chair head event group media agreement myself."
                },
                {
                    "ad_id": "42181360-a623-4049-b17d-b5be0386fb39",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.310245259,
                    "long": 103.8293016,
                    "gps_hr_accuracy": 65.0,
                    "ip_add": "202.156.146.207",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "92feaa048423d319b55263c6243234bc",
                    "present": false,
                    "reason": "Trip business kid husband wrong. After he sister turn age own.\nBase now threat quickly financial girl. Apply front series soldier believe television. Machine senior people involve challenge side."
                },
                {
                    "ad_id": "60f4d2fc-61cd-46b6-9f60-3c7d5537b1cd",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 14.0113782,
                    "long": 99.26899272,
                    "gps_hr_accuracy": 1667.0,
                    "ip_add": "182.232.75.196",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "f353a782fa85016c95f057e0b4beb0e4",
                    "present": false,
                    "reason": "Child how training strategy its.\nNeed quality most. Provide two edge lead common east. Likely rich claim."
                },
                {
                    "ad_id": "e748db4b-5bd9-4f21-82b2-16d49fa6c059",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.279375571,
                    "long": 103.7872389,
                    "gps_hr_accuracy": 93.644104,
                    "ip_add": "58.182.67.53",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "ad0e935607061d9b3f427deaa4946f37",
                    "present": true,
                    "reason": "Their coach hot society.\nDog plant agency worker throw sort simply. Team people pretty human government."
                },
                {
                    "ad_id": "e748db4b-5bd9-4f21-82b2-16d49fa6c059",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533740000000.0,
                    "lat": 1.2795084,
                    "long": 103.7874422,
                    "gps_hr_accuracy": 30.0,
                    "ip_add": "58.182.67.53",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "ad0e935607061d9b3f427deaa4946f37",
                    "present": false,
                    "reason": "Source only also history sure of simply. For population himself idea economy fear look.\nEach policy four treat would leg must. Through action you prevent too decision. Season cell join most local."
                },
                {
                    "ad_id": "02fd5608-7937-4b56-9141-6373bd8083b1",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 3.124682711,
                    "long": 101.5992617,
                    "gps_hr_accuracy": 65.0,
                    "ip_add": "61.6.81.16",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "f353a782fa85016c95f057e0b4beb0e4",
                    "present": false,
                    "reason": "Himself truth item red fight. Bag guess avoid short commercial increase guess listen. Lawyer themselves western senior throughout produce stuff."
                },
                {
                    "ad_id": "02fd5608-7937-4b56-9141-6373bd8083b1",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 3.125028268,
                    "long": 101.5988383,
                    "gps_hr_accuracy": 65.0,
                    "ip_add": "61.6.81.16",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "f353a782fa85016c95f057e0b4beb0e4",
                    "present": false,
                    "reason": "Five realize seven bank. Early red mouth positive member. Again reflect only wish exist. Weight discuss current gun explain I."
                },
                {
                    "ad_id": "4dfb93e0-de7d-4c47-a8a3-bd31c83f9890",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 50.01038189,
                    "long": 36.2409318,
                    "gps_hr_accuracy": 34.95017015,
                    "ip_add": "82.117.253.156",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "8253289334f42f3900abec713a0204ca",
                    "present": true,
                    "reason": "Collection ahead type fly group. West but allow teacher. Everything according gas kind question common peace build."
                },
                {
                    "ad_id": "60f4d2fc-61cd-46b6-9f60-3c7d5537b1cd",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 14.0121812,
                    "long": 99.26591601,
                    "gps_hr_accuracy": 1435.0,
                    "ip_add": "182.232.75.196",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "f353a782fa85016c95f057e0b4beb0e4",
                    "present": true,
                    "reason": "Among little your be. Continue worker detail no firm. Speak begin question but south.\nDevelopment model course while end billion member."
                },
                {
                    "ad_id": "3a85903c-7391-444b-bacb-d2bc45d0705a",
                    "ad_id_type": "ADID",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.3465847,
                    "long": 103.7336506,
                    "gps_hr_accuracy": 70.672,
                    "ip_add": "59.189.209.56",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "7014b8c9a581b866e7836e0751b61d86",
                    "present": false,
                    "reason": "Act so chance. Result fact TV.\nAllow form world include rise second. Less quickly measure accept consumer draw every. Really parent car fight manage conference."
                },
                {
                    "ad_id": "c121a69e-e040-4d8c-8b82-2dd40ca7c656",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.536572589,
                    "long": 103.7954023,
                    "gps_hr_accuracy": 5.0,
                    "ip_add": "113.210.197.251",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "1e075cbf64b58ee32c044422f0b5247f",
                    "present": false,
                    "reason": "Course remain most cost all not. Field amount side American since reveal.\nFly stay only page. Cup lawyer evening store travel data bit. A evidence in free."
                },
                {
                    "ad_id": "ba02ff44-a2a8-4f61-b8bd-8e58a7b9cb48",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": 1.33190749,
                    "long": 103.9382422,
                    "gps_hr_accuracy": 96.49966313,
                    "ip_add": "119.56.99.183",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "9ba339f33b52d6787517de692e8e0f49",
                    "present": false,
                    "reason": "Account light world available how prove. Without picture movement.\nThen under add argue. Soldier member face answer decade increase."
                },
                {
                    "ad_id": "0e1c14dc-4ffd-464d-bbb1-30a1505c46c6",
                    "ad_id_type": "IDFA",
                    "milsec_utc_timestamp": 1533770000000.0,
                    "lat": -37.72649154,
                    "long": 175.2447978,
                    "gps_hr_accuracy": 58.6732902,
                    "ip_add": "49.224.253.255",
                    "country": "SG",
                    "device_os_language_code": "en",
                    "app_id": "64f56abe831cd5ee4beb3c9d267a3de8",
                    "present": false,
[...]
